{% extends "plan/base.html" %} {% block content %}
<h1>Home</h1>
{% for event in events %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      {% comment %}
      <a class="mr-2" href="#">{{ event.author }}</a> {%endcomment%}
      <h2>
        <a class="article-title" href="{% url 'event-detail' event.id %}"
          >{{ event.name }}</a
        >
      </h2>
      <p><a class="mr-2">{{ event.time }} </a></p>
      <p><a class="mr-2">{{ event.location }}</a></p>
    </div>
    <h4>
      <a class="mr-2">{{ event.author }}</a>
    </h4>
    {% comment %}
    <p class="article-content">{{ event.content }}</p>
    {% endcomment %}
  </div>
</article>
{% endfor %} {% endblock content %}
